# App
NODE_ENV=development
HOST_NAME=localhost
PORT=3000
BASE_URL=http://localhost:3000
FRONTEND_URL=http://localhost:3001

# Database
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=

DB_NAME_PROD=
DB_NAME_DEV=
DB_NAME_TEST=



# ===============================
# MINIO CONFIG
# ===============================
MINIO_ACCESSKEY=
MINIO_BUCKET=
MINIO_BUCKET_DEV=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_PUBLIC_URL=
MINIO_SECRETKEY=
MINIO_USESSL=


CORS_ORIGINS=
CORS_REGEX_ORIGINS=
CORS_DEV_ORIGINS=


GEMINI_API_KEY=


